.p2{
    font-weight: bold;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 5px;
}

.container{
    border: 2px solid red;
    width: 100px;
    padding: 10px;
    margin: 200px;    9807143239
}